services:
    web:
        container_name: nextjs-dev
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "3000:3000"
        volumes:
            - .:/app
            - /app/node_modules
        env_file: .env
        environment:
            - NODE_ENV=development
        command: pnpm run dev
        restart: unless-stopped
